<%- include('partials/header'); -%>


<!--
<h1>Contact Me</h1>
 <p> <%= startingcontactContent %></p> -->
<div class="contact-me">
  <h2 class="my_h2">Get In Touch</h2>
  <h3 class="my_h3">If you love Programming,Technology and Development as much I do.</h3>
  <p class="contact-message">love Programming,Technology and Development? Let's talk about how awesome they are! We can code with coffee ☕</p>
  <a class="btn me" href="mailto:kumarankit3450@gmail.com">CONTACT ME</a>
</div>


<%- include('partials/footer'); -%>
